<?xml version="1.0"?>
<!-- 
    Note to you, My Friend.
    
    We don't really know each other, well maybe we do but in case we don't
    I want you to know that this site and this project is for you. If we 
    save you some time during the day - go home and spend it with your kids
    or your wife or your partner or your dog or your goldfish. Go level 
    up your Rogue in Outland. Go for a walk. Go to the beach. See a movie.
    Enjoy your life and don't burn out - this is fun stuff and it's a great
    time to be alive!
    
    Now - this is a messed up Web.Config file. I'm sorry about that. I really am.
    I hate XML and I really hate it's abuse. This is abuse. But sometimes you
    have to drink to Kool Aid if you wanna dance at the party and... well we
    had no choice. I'll try to make this easy on you with some comments. I 
    hope we got off to a good start here.
    
    //Spook, May 2007.
-->
<configuration>
	<configSections>
		<section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" requirePermission="false"/>
		<!--This is all ASP.NET Ajax stuff. From here....-->
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
			<sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
				<section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				<sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35">
					<section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="Everywhere"/>
					<section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
					<section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" allowDefinition="MachineToApplication"/>
				</sectionGroup>
			</sectionGroup>
      <!--...to here-->
		</sectionGroup>
    
    <!--UrlRewriter Declaration-->
    <section name="rewriter"
         requirePermission="false"
         type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter" />
  </configSections>

  <!--############################ APP Settings ###################################-->
  <appSettings>
  </appSettings>


  <!--########################## URL Rewriter Rules ###############################-->
  <rewriter>
    <!--this rule is telling the UrlRewriter engine that whenever it sees "~/view" that it needs to 
    rewrite that URL internally, and send it off to the pageview page.
    -->
    <rewrite url="~/view/(.+)" to="~/pageview.aspx?p=$1" />
  </rewriter>


  <!--########################## Connection Strings ###############################-->
  <connectionStrings>
		<clear/>
    <add name="CMS" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|SubSonicCMS.MDF" />
    <add name="LocalSqlServer" connectionString="Data Source=.\SQLExpress;Integrated Security=True;User Instance=True;AttachDBFilename=|DataDirectory|ASPNETDB.MDF" />

  </connectionStrings>


  <!--########################## SubSonic ###############################-->
  <!--
  templateDirectory			- you can override the generated code template by creating your own. See the 
                             samples in the Dev directory. This needs to be an absolute link.
  generatedNamespace		   - if you don't want to use the Global, specify it here
  spClassName				   - use your own class name for SPs. The defaul is "SPs"
  fixPluralClassNames		- If you have pluralized tables and you want singular, set this here.
  useSPs					      - If you don't want the build provider to wrap your SPs, set this to false, default is true.
  stripTableText			   - the text to strip from table names (comma separated values, case-sensitive)
  stripSPText				   - the text to strip from SP names (comma separated values, case-sensitive)
  stripViewText				- the text to strip from view names (comma separated values, case-sensitive)
							        ex. stripViewText="Summary of,Totals"
							        Be careful defining your text to strip because it will strip every match.
							        If you want to strip "csk_store_" for example and everything else just strip
							        "csk_" make sure to put "csk_store_" first or it will strip "csk_" and then won't find "csk_store_".
  stripColumnText          - the text to strip from column names (comma separated values, case-sensitive)
  stripParamText           - the text to strip from SP paramater names (comma separated values, case-sensitive)
                             Note that all strip properties don't affect actual DB values and are just for SubSonic generated code.
  appendWith				   - the text to append onto reserved words if any are found, default is "" so convention errors can be seen.
  spStartsWith				   - only use stored procedures that start with this text (comma separted values, case-sensitive)
							        ex. spStartsWith="C,S"
							        default is "" so all SPs are used.
  viewStartsWith			   - only use views that start with this text (comma separted values, case-sensitive)
							        default is "" so all views are used.
  relatedTableLoadPrefix	- An optional prefix to prepend to all for foreign key and primary key methods and
							        properties. Typical values would be "Get", "Load", "Fetch", etc.
  removeUnderscores        - Set to true to remove underscores from generated object names
                             default is false
                             
  excludeTableList    A Comma-separated list of tables you DON'T want generated as classes
  includeTableList    A Comma-separated list of tables you DO want generated as classes. This list is EXCLUSIVE (meaning no other
                      tables will have generated classes other than what you specify here) and TRUMPS excludeTableList.
 
  -->
  <SubSonicService defaultProvider="CMS">
    <providers>
      <clear/>
      <!--CMS Provider-->
      <add name="CMS" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="CMS"  generatedNamespace="CMS"  stripTableText="CMS_"/>
		</providers>
	</SubSonicService>
  
  
  
	<system.web>
    <!--########################## SubSonic SiteMap Provider###############################-->

    <siteMap enabled="true" defaultProvider="AspNetSqlSiteMapProvider">
      <providers>
        <add name="AspNetSqlSiteMapProvider"
          type="SubSonicSiteMapProvider"
          securityTrimmingEnabled="true"
          />
      </providers>
    </siteMap>

		<!--
      If you want to test your site in Medium Trust - enable this.
      the build provider for SubSonic WILL NOT RUN in medium trust
    <trust level="Medium" originUrl="http://localhost/.*"/>
    -->

    <!--########################## Membership Settings ###############################-->
    <authentication mode="Forms">
      <forms  name=".ASPXAUTH"
                  loginUrl="login.aspx"
                  protection="All"
                  timeout="30"
                  path="/"
                  requireSSL="false"
                  slidingExpiration="true" >
      </forms>
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    
    <roleManager enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" connectionStringName="LocalSqlServer" applicationName="SubSonicStarter" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<membership defaultProvider="AspNetSqlMembershipProvider" userIsOnlineTimeWindow="15" hashAlgorithmType="">
			<providers>
				<clear/>
				<add connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true" applicationName="SubSonicStarter" requiresUniqueEmail="false" passwordFormat="Hashed" maxInvalidPasswordAttempts="5" passwordAttemptWindow="10" passwordStrengthRegularExpression="" minRequiredPasswordLength="4" minRequiredNonalphanumericCharacters="0" name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<anonymousIdentification enabled="true"/>

		<profile automaticSaveEnabled="true" defaultProvider="SqlProvider">
			<providers>
				<clear/>
				<add name="SqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="SubSonicStarter"/>
			</providers>
			<properties>
				<add name="FirstName" type="System.String" allowAnonymous="true"/>
				<add name="LastName" type="System.String" allowAnonymous="true"/>
        <add name="Email" type="System.String" allowAnonymous="true"/>
      </properties>
		</profile>
      <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
		<compilation debug="true" defaultLanguage="C#">

      <!--########################## SubSonic Build Provider ###############################-->
      <!--This will NOT WORK in Medium Trust-->
			<buildProviders>
				<add extension=".abp" type="SubSonic.BuildProvider, SubSonic"/>
			</buildProviders>
      
      
			<assemblies>
				<add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/></assemblies>
		</compilation>
		
    <httpHandlers>
      <!--########################## ASP.NET AJAX Handlers ###############################-->
      <remove verb="*" path="*.asmx"/>
			<add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
		  <!-- // ASP.NET Ajax Handlers-->
    
    </httpHandlers>
		<httpModules>
      <!--ASP.NET Ajax-->
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <!--URL Rewriter-->
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" />

    </httpModules>
		<!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
		<customErrors mode="Off">
		</customErrors>

    <!--########################## Default Setup for Web Pages ###############################-->
    <pages styleSheetTheme="Default" validateRequest="false" enableEventValidation="false">
			<controls>
				<add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="fck" namespace="FredCK.FCKeditorV2" assembly="FredCK.FCKeditorV2"/>
        <add tagPrefix="subsonic" namespace="SubSonic" assembly="SubSonic"/>
        <add src="~/Modules/ContentManager/Paragraph.ascx" tagName="Paragraph" tagPrefix="cms" />
        <add src="~/Modules/ResultMessage.ascx" tagName="ResultMessage" tagPrefix="cms" />
      </controls>
		</pages>

    
	</system.web>
  <!--########################## Security Setup ###############################-->
  <!--Lock out the admin directory-->
  <location path="Admin">
    <system.web>
      <authorization>
        <deny users="?" />
        <allow roles="Administrator" />
      </authorization>
    </system.web>
  </location>

  <system.net>
    <!--########################## SMTP Mailer Setup ###############################-->
    <mailSettings>
			<smtp from="me@mysite.com">
				<network host="localhost" password="" userName=""/>
			</smtp>
		</mailSettings>
	</system.net>


  <!--########################## ASP.NET Ajax STUFF From here.... ###############################-->
  <system.web.extensions>
		<scripting>
			<webServices>
				<!-- Uncomment this line to customize maxJsonLength and add a custom converter -->
				<!--
      <jsonSerialization maxJsonLength="500">
        <converters>
          <add name="ConvertMe" type="Acme.SubAcme.ConvertMeTypeConverter"/>
        </converters>
      </jsonSerialization>
      -->
				<!-- Uncomment this line to enable the authentication service. Include requireSSL="true" if appropriate. -->
				<!--
        <authenticationService enabled="true" requireSSL = "true|false"/>
      -->
				<!-- Uncomment these lines to enable the profile service. To allow profile properties to be retrieved
           and modified in ASP.NET AJAX applications, you need to add each property name to the readAccessProperties and
           writeAccessProperties attributes. -->
				<!--
      <profileService enabled="true"
                      readAccessProperties="propertyname1,propertyname2"
                      writeAccessProperties="propertyname1,propertyname2" />
      -->
			</webServices>
			<!--
      <scriptResourceHandler enableCompression="true" enableCaching="true" />
      -->
		</scripting>
	</system.web.extensions>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="ScriptModule" preCondition="integratedMode" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule" />
    </modules>
		<handlers>
			<remove name="WebServiceHandlerFactory-Integrated"/>
			<add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
			<add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
		</handlers>
	</system.webServer>
  <!--########################## ... to here  ###############################-->


</configuration>
