<?xml version="1.0"?>

<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="chpt5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter05;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <!--<add name="aw" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=False;User=dev;Pwd=dev" providerName="System.Data.SqlClient"/>-->
    <add name="aw" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=apress;Pwd=apress" providerName="System.Data.SqlClient"/>
    <!--<add name="aw" connectionString="Data Source=WINDOWS2003\SQL2005;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dev;Pwd=dev" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
    <authentication mode="Windows" />
  </system.web>
</configuration>
