<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <configSections>
    <sectionGroup name="chapter09Group"
                  type="Chapter09.Configuration.Chapter09SectionGroup, Chapter09">
      <section name="chapter09"
               type="Chapter09.Configuration.Chapter09Section, Chapter09"/>
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <clear/>
    <add name="chpt09" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter09;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
  </appSettings>

  <chapter09Group>
    <chapter09 connectionStringName="chpt09" />
  </chapter09Group>

</configuration>
