<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <dataConfiguration defaultDatabase="Chapter02.Properties.Settings.chpt02" />
  <connectionStrings>
    <add name="Chapter02.Properties.Settings.chpt02" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter02;Integrated Security=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>