<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="photoAlbumService" type="Chapter05.PhotoAlbumProvider.PhotoAlbumSection, Chapter05.PhotoAlbumProvider"/>
		<!--<section name="SqlSiteMapProvider" type="Chapter05.CustomSiteMapProvider.SqlSiteMapProviderConfigurationHandler, Chapter05.CustomSiteMapProvider"/>-->
	</configSections>
	<appSettings>
		<!-- Flickr Settings http://www.flickr.com/services/api/ -->
		<add key="FlickrFeedUrlFormat" value="http://api.flickr.com/services/feeds/photos_public.gne?tags={0}&amp;format={1}"/>
	</appSettings>
	<connectionStrings>
		<add name="chpt5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter05;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
		</compilation>
		<anonymousIdentification enabled="true"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"/>
		</authentication>
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--<caching>
			<sqlCacheDependency enabled="true">
				<databases>
					<add name="chpt5" connectionStringName="chpt5" pollTime="60000"/>
				</databases>
			</sqlCacheDependency>
		</caching>-->
		<membership defaultProvider="Chapter05SqlMembershipProvider">
			<providers>
				<clear/>
				<add name="Chapter05SqlMembershipProvider" applicationName="/chpt5" connectionStringName="chpt5" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="true" requiresUniqueEmail="false" passwordFormat="Clear" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="3" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" passwordStrengthRegularExpression="" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<roleManager defaultProvider="Chapter05SqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="Chapter05SqlRoleProvider" connectionStringName="chpt5" applicationName="/chpt5" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</roleManager>
		<profile defaultProvider="Chapter05SqlProfileProvider" automaticSaveEnabled="true" enabled="true">
			<providers>
				<clear/>
				<add name="Chapter05SqlProfileProvider" connectionStringName="chpt5" applicationName="/chpt5" description="" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<add name="FontSize" allowAnonymous="true" defaultValue="10"/>
				<add name="ProfileGroup" type="String" allowAnonymous="false"/>
			</properties>
		</profile>
		<siteMap defaultProvider="SqlSiteMapProvider" enabled="true">
			<providers>
				<!--<clear/>-->
				<add name="SqlSiteMapProvider" connectionStringName="chpt5" type="Chapter05.CustomSiteMapProvider.SqlSiteMapProvider"/>
			</providers>
		</siteMap>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="webmaster@localhost">
				<network host="localhost"/>
			</smtp>
		</mailSettings>
	</system.net>
	<location path="Default.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<photoAlbumService defaultProvider="SqlPhotoAlbumProvider">
		<providers>
			<clear/>
			<add name="SqlPhotoAlbumProvider" connectionStringName="chpt5" type="Chapter05.PhotoAlbumProvider.SqlPhotoAlbumProvider, Chapter05.PhotoAlbumProvider"/>
		</providers>
	</photoAlbumService>
	<!--<SqlSiteMapProvider defaultProvider="SqlSiteMapProvider">
    <providers>
      <clear/>
      <add name="SqlSiteMapProvider"
           connectionStringName="chpt5"
           type="Chapter05.CustomSiteMapProvider.SqlSiteMapProvider, Chapter05.CustomSiteMapProvider" />
    </providers>
  </SqlSiteMapProvider>-->
</configuration>
