<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="chpt5" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter05;Persist Security Info=True" providerName="System.Data.SqlClient"/>
    <!--<add name="aw" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Integrated Security=False;User=dev;Pwd=dev" providerName="System.Data.SqlClient"/>-->
    <add name="aw" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=apress;Pwd=apress" providerName="System.Data.SqlClient"/>
    <!--<add name="aw" connectionString="Data Source=WINDOWS2003\SQL2005;Initial Catalog=AdventureWorks;Persist Security Info=True;User ID=dev;Pwd=dev" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <system.web>
    <caching>
      <!--<cache 
        disableExpiration="false"
        disableMemoryCollection="false"
        privateBytesLimit="52428800"
        percentagePhysicalMemoryUsedLimit="0"
        privateBytesPollTime="00:01:00"/>-->
      <sqlCacheDependency enabled="true">
        <databases>
          <add name="aw" connectionStringName="aw" pollTime="15000"/>
        </databases>
      </sqlCacheDependency>
    </caching>
  </system.web>
</configuration>
