<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="chapter07"
                  type="Chapter07.Chapter07SectionGroup, Chapter07.Domain">
      <section name="favoriteLink"
               type="Chapter07.Domain.FavoriteLinkSection, Chapter07.Domain"/>
    </sectionGroup>
  </configSections>
  
  <appSettings/>
  
	<connectionStrings>
  <add name="FavoriteLinkDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter07;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="Chapter07ConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter07;Integrated Security=True;"
   providerName="System.Data.SqlClient" />
 </connectionStrings>

  <chapter07>
    <favoriteLink connectionStringName="FavoriteLinkDB"/>
  </chapter07>

  <system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Security, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.IdentityModel.Selectors, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.DirectoryServices, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.RegularExpressions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Messaging, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.ServiceProcess, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
		</compilation>
		<pages>
			<controls>
				<add tagPrefix="fl" tagName="HeaderNavigation" src="~/Controls/HeaderNavigation.ascx"/>
				<add tagPrefix="fl" tagName="LinksControl" src="~/Controls/LinksControl.ascx"/>
				<add tagPrefix="fl" tagName="LoginControl" src="~/Controls/LoginControl.ascx"/>
				<add tagPrefix="fl" tagName="TagCloudControl" src="~/Controls/TagCloudControl.ascx"/>
				<add tagPrefix="fl" tagName="TaggedLinksControl" src="~/Controls/TaggedLinksControl.ascx"/>
			</controls>
		</pages>
    <trace enabled="false" pageOutput="false" requestLimit="100" writeToDiagnosticsTrace="true" />
		<anonymousIdentification enabled="true"/>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH" timeout="20160" slidingExpiration="true"/>
		</authentication>
		<membership defaultProvider="AspNetSqlMembershipProvider">
			<providers>
				<clear/>
				<add name="AspNetSqlMembershipProvider" applicationName="favoritelink" connectionStringName="FavoriteLinkDB" enablePasswordRetrieval="false" enablePasswordReset="true" requiresUniqueEmail="true" passwordFormat="Clear" passwordStrengthRegularExpression="" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
		</membership>
		<roleManager defaultProvider="AspNetSqlRoleProvider" enabled="true">
			<providers>
				<clear/>
				<add name="AspNetSqlRoleProvider" applicationName="favoritelink" connectionStringName="FavoriteLinkDB" type="System.Web.Security.SqlRoleProvider"/>
			</providers>
		</roleManager>
		<profile defaultProvider="AspNetSqlProfileProvider" automaticSaveEnabled="true">
			<providers>
				<clear/>
				<add applicationName="favoritelink" name="AspNetSqlProfileProvider" connectionStringName="FavoriteLinkDB" description="" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</providers>
			<properties>
				<add name="UserID" type="String" allowAnonymous="true"/>
			</properties>
		</profile>
	</system.web>

  <!-- Self Hosting (Named Pipe/IPC) -->
  <system.serviceModel>
    <services>
      <service name="Chapter07.WCFService.FavoriteLinkService"  >
        <endpoint
           address="net.pipe://localhost/FavoriteLinkService"
           binding="netNamedPipeBinding"
           contract="Chapter07.WCFService.IFavoriteLinkService"
            />
      </service>
    </services>
    <client>
      <endpoint
         address="net.pipe://localhost/FavoriteLinkService"
         binding="netNamedPipeBinding"
         contract="Chapter07.WCFService.IFavoriteLinkService"
         />
    </client>
  </system.serviceModel>

    <!-- Self Hosting (TCP) -->
    <!--<system.serviceModel>
      <services>
        <service name = "Chapter07.WCFService.FavoriteLinkService">
          <endpoint
             address  = "net.tcp://localhost:8002/FavoriteLinkService/"
             binding  = "netTcpBinding"
             contract = "Chapter07.WCFService.IFavoriteLinkService"
            />
        </service>
      </services>
    <client>
      <endpoint 
         address  = "net.tcp://localhost:8002/FavoriteLinkService/"
         binding  = "netTcpBinding"
         contract = "Chapter07.WCFService.IFavoriteLinkService"
         />
    </client>
  </system.serviceModel>-->

  <!-- External Hosting -->
  <!--<system.serviceModel>
    <client>
      <endpoint
         address  = "net.tcp://localhost:8002/FavoriteLinkService/"
         binding  = "netTcpBinding"
         contract = "Chapter07.WCFService.IFavoriteLinkService"
         />
    </client>
  </system.serviceModel>-->
  
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="webmaster@apress.com">
				<network host="localhost"/>
			</smtp>
		</mailSettings>
	</system.net>
  
  <!-- Access Control -->
	<location path="AddLink.aspx">
		<system.web>
			<authorization>
				<deny users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Admin">
		<system.web>
			<authorization>
				<allow roles="Admin"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
  
</configuration>
