<?xml version="1.0"?>
<configuration>

  <configSections>
    <sectionGroup name="chapter09Group"
                  type="Chapter09.Configuration.Chapter09SectionGroup, Chapter09, Version=1.0.0.0, Culture=neutral, PublicKeyToken=e228aac8a6067fd7">
      <section name="chapter09"
               type="Chapter09.Configuration.Chapter09Section, Chapter09, Version=1.0.0.0, Culture=neutral, PublicKeyToken=e228aac8a6067fd7"/>
    </sectionGroup>
  </configSections>
  
	<connectionStrings>
		<add name="chpt09" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter09;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
  
  <appSettings>
  </appSettings>

  <chapter09Group>
    <chapter09 connectionStringName="chpt09" enableAutoUpdates="True"/>
  </chapter09Group>
  
	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="System.Management, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Data.OracleClient, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
				<add assembly="System.Configuration.Install, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
		<authentication mode="Windows"/>
	</system.web>
  
</configuration>
