
BEGIN TRANSACTION
GO
ALTER TABLE chpt09_Names
ALTER COLUMN Name nvarchar(55) NOT NULL
GO
COMMIT

BEGIN TRANSACTION
GO
CREATE NONCLUSTERED INDEX IX_chpt09_Names ON dbo.chpt09_Names
  (
  Name
  ) WITH( 
    STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, 
    ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
COMMIT
