<?xml version="1.0"?>

<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="chpt01"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter01;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    <compilation debug="true" />

    <authentication mode="Forms">
      <forms loginUrl="Login.aspx" name=".ASPXFORMSAUTH"/>
    </authentication>

    <anonymousIdentification enabled="true"/>

    <pages>
      <controls>
        <add tagPrefix="c01" tagName="Profile" src="~/Controls/Profile.ascx"/>
      </controls>
    </pages>

    <membership defaultProvider="Chapter01SqlMembershipProvider">
      <providers>
        <clear/>
        <add 
			    name="Chapter01SqlMembershipProvider" 
			    applicationName="/chapter01" 
			    connectionStringName="chpt01" 
			    enablePasswordRetrieval="true" 
			    enablePasswordReset="true" 
			    requiresQuestionAndAnswer="true" 
			    requiresUniqueEmail="false" 
			    passwordFormat="Clear" 
			    maxInvalidPasswordAttempts="5" 
			    minRequiredPasswordLength="7" 
			    minRequiredNonalphanumericCharacters="0" 
			    passwordAttemptWindow="10" 
			    passwordStrengthRegularExpression="" 
			    type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
		    />
      </providers>
    </membership>

    <roleManager defaultProvider="Chapter01SqlRoleProvider" enabled="true">
      <providers>
        <clear/>
        <add 
			    name="Chapter01SqlRoleProvider" 
			    connectionStringName="chpt01" 
			    applicationName="/chapter01" 
			    type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" 
		    />
      </providers>
    </roleManager>

    <profile defaultProvider="Chapter01SqlProfileProvider" automaticSaveEnabled="true" enabled="true">
      <providers>
        <clear/>
        <add  
           name="Chapter01SqlProfileProvider"  
           connectionStringName="chpt01" 
           applicationName="/chapter01"
           description=""  
           type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
      </providers>
      <properties>
        <add name="FirstName" type="String" allowAnonymous="true" />
        <add name="LastName" type="String" allowAnonymous="true" />
        <add name="BirthDate" type="DateTime" allowAnonymous="true" />
      </properties>
    </profile>

  </system.web>

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="author@apress.com">
        <network host="localhost"/>
      </smtp>
    </mailSettings>
  </system.net>

  <location path="Admin">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>
