<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    <sectionGroup name="chapter07" type="Chapter07.Chapter07SectionGroup, Chapter07.Domain">
      <section name="favoriteLink"
               type="Chapter07.Domain.FavoriteLinkSection, Chapter07.Domain"/>
    </sectionGroup>
  </configSections>
  <!--<configSections>
    <section name="SmallSharpTools.Logging" type="SmallSharpTools.Logging.LoggingProviderConfigurationHandler, SmallSharpTools.Logger"/>
  </configSections>-->
  <connectionStrings>
    <remove name="LocalSqlServer" />
    <add name="FavoriteLinkDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter07;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Chapter07.Properties.Settings.Chapter07ConnectionString"
        connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Chapter07;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings />

  <chapter07>
    <favoriteLink connectionStringName="FavoriteLinkDB"/>
  </chapter07>
  
  <!--<SmallSharpTools.Logging defaultProvider="EventsLoggingProvider">
    <providers>
      <clear/>
      <add name="Log4NetLoggingProvider" configureAndWatch="true" type="SmallSharpTools.Logging.Log4NetLoggingProvider, SmallSharpTools.Logger"/>
      <add name="EventsLoggingProvider" eventSource="LinkMindrUnitTests" debugEnabled="true" infoEnabled="true" type="SmallSharpTools.Logging.EventsLoggingProvider, SmallSharpTools.Logger"/>
    </providers>
  </SmallSharpTools.Logging>-->
  <dataConfiguration defaultDatabase="FavoriteLinkDB" />
</configuration>